# Google Sheets
SPREADSHEET_ID=your_google_sheet_id_here

# Google Service Account
GOOGLE_CLIENT_EMAIL=your_service_account_email_here
GOOGLE_PRIVATE_KEY=your_private_key_here

# Project settings
MODEL_VERSION=v1.1
ENVIRONMENT=development
