# ============================================================
# Seguridad - credenciales y variables privadas
# ============================================================
.env
*.env
.env.*
credentials.json
service_account.json
*service-account*.json
*.key
*.pem
token.json

# ============================================================
# Archivos temporales del proyecto
# ============================================================
*.log
tmp/
temp/

# ============================================================
# Google / Mac
# ============================================================
.DS_Store

# ============================================================
# Jupyter / Colab
# ============================================================
.ipynb_checkpoints/
*.ipynb_checkpoints
